<mat-toolbar style="background-color: whitesmoke;" class="footer">
   <span>Flow me &nbsp; &nbsp; &nbsp; </span>
   <span>
       <a target="_blank">
         <img src="../../assets/instagram_icon.png" href="" width="25px" height="25px" alt="instargram">
       </a>

       <a target="_blank"  href="mailto:kouraichiahmed@gmail.com"  width="25px" height="25px" alt="instagram">
          <img src="../../assets/gmail_icon.png" width="25px" height="25px">
       </a>

       <a target="_blank"   width="25px" height="25px" href="" alt="instagram">
        <img src="../../assets/YouTube_icon.png" width="25px" height="25px">
     </a>
   </span>
</mat-toolbar>
